<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlockBuster Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/admin/images/logo.png"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="/admin/home" style="color: #dd003f;"><img
                    src="/admin/images/logo.png" alt="logo" style="height: 50px; width: 50px;"/>lockBuster</a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <div class="nav-profile-img">
                            <img th:src="${loginAcc.avatar}" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black" th:utext="${loginAcc.lastname + ' ' + loginAcc.firstname}"></p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                        <a class="dropdown-item" href="/admin/logout">
                            <i class="mdi mdi-logout me-2 text-primary"></i> Đăng xuất </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img th:src="${loginAcc.avatar}" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2" th:utext="${loginAcc.firstname}"></span>
                            <span class="text-secondary text-small">Quản lý</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home">
                        <span class="menu-title">Trang chủ</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                       aria-controls="ui-basic">
                        <span class="menu-title">Thống kê</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-chart-bar menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/report/mvg">Phim từng thể loại</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/report/mva">Phim theo diễn viên</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/report/mvd">Phim theo đạo diễn</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/report/rating">Phim theo đánh giá</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/report/revenue">Doanh thu</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/account">
                        <span class="menu-title">Người dùng</span>
                        <i class="mdi mdi-account-card-details menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/movie">
                        <span class="menu-title">Phim</span>
                        <i class="mdi mdi-arrow-right-drop-circle menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/genre">
                        <span class="menu-title">Thể loại</span>
                        <i class="mdi mdi-sort-variant menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-act" aria-expanded="false"
                       aria-controls="ui-basic">
                        <span class="menu-title">Diên viên</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-walk menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-act">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link active" href="/admin/actor">Quản lý diễn viên</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/fkact">Diễn viên trong phim</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-dir" aria-expanded="false"
                       aria-controls="ui-basic">
                        <span class="menu-title">Đạo diễn</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-dir">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/director">Quản lý đạo diễn</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/fkdir">Đạo diễn trong phim</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-mem" aria-expanded="false"
                       aria-controls="ui-basic">
                        <span class="menu-title">Gói xem phim</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-package menu-icon"></i>
                    </a>
                    <div class="collapse" id="ui-basic-mem">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/membership">Quản lý gói xem phim</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/memDe">Chi tiết gói xem phim</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic-eva" aria-expanded="false"
                       aria-controls="ui-basic">
                        <span class="menu-title">Bình luận</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-forum"></i>
                    </a>
                    <div class="collapse" id="ui-basic-eva">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/evaluate/bymv">Bình luận theo phim</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/admin/evaluate/byac">Bình luận theo người
                                dùng</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-walk"></i>
                </span>
                        <span style="color: white;">
                  Diễn viên
                </span>
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <span style="color: white;">Quản lý diễn viên</span> <i
                                    class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-4 grid-margin stretch-card">
                        <div class="card" style="max-height: 680px;">
                            <div class="card-body">
                                <form class="forms-sample" th:if="${(isView == false) && (isEdit == false)}"
                                      action="/admin/actor/add" enctype="multipart/form-data" method="post" name="act"
                                      onsubmit="return actAddSubmit()">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-group col-xs-4"
                                                 style="align-items: center; justify-content: center; margin-bottom: 10px;">
                                                <img class="file-upload-img" src="/images/uploads/unknowavt.png"
                                                     alt="image" id="img-preview" style="width: 100px; height: 150px;">
                                            </div>
                                            <input type="file" name="avatar" class="file-upload-default" id="file-input"
                                                   accept="image/gif, image/jpeg, image/png">
                                            <div class="input-group col-xs-4"
                                                 style="align-items: center; justify-content: center;">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-gradient-primary"
                                      type="button">Ảnh đại diện</button>
                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên diễn viên</label>
                                        <input type="text" class="form-control" name="name" placeholder="Tên diễn viên">
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input type="date" class="form-control" name="birthday">
                                    </div>
                                    <div class="form-group">
                                        <label>Tiểu sử</label>
                                        <textarea class="form-control" name="story" placeholder="Tiểu sử"
                                                  style="height: 60px;"></textarea>
                                    </div>
                                    <div class="input-group col-xs-12"
                                         style="align-items: center; justify-content: center; margin-bottom: 10px;"
                                         th:if="${err != null}">
                                        <label style="color: lawngreen; font-size: 14px;" th:utext="${err}"
                                               th:if="${err.equals('Thêm diễn viên thành công!!!') == true}"></label>
                                    </div>
                                    <div class="input-group col-xs-12"
                                         style="align-items: center; justify-content: center; margin-bottom: 10px;">
                                        <button type="submit" class="btn btn-gradient-success me-2">Thêm diễn viên
                                        </button>
                                    </div>
                                </form>
                                <form class="forms-sample" th:if="${isView == true}">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-group col-xs-4"
                                                 style="align-items: center; justify-content: center; margin-bottom: 10px;">
                                                <img class="file-upload-img" th:src="${viewCast.avatar}" alt="image"
                                                     style="width: 100px; height: 150px;">
                                            </div>
                                            <input type="file" name="img[]" class="file-upload-default" id="file-input"
                                                   accept="image/gif, image/jpeg, image/png">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên diễn viên</label>
                                        <input type="text" class="form-control" th:value="${viewCast.name}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input type="date" class="form-control"
                                               th:value="${dateInputFormat.format(viewCast.birthday)}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Tiểu sử</label>
                                        <textarea class="form-control" placeholder="Tiểu sử" style="height: 100px;"
                                                  th:utext="${viewCast.story}" readonly></textarea>
                                    </div>
                                </form>
                                <form class="forms-sample" th:if="${isEdit == true}"
                                      th:action="${'/admin/actor/edit/idAct=' + castEdit.id}"
                                      enctype="multipart/form-data" method="post" name="act"
                                      onsubmit="return actEditSubmit()">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="input-group col-xs-4"
                                                 style="align-items: center; justify-content: center; margin-bottom: 10px;">
                                                <img class="file-upload-img" alt="image" id="img-preview"
                                                     style="width: 100px; height: 150px;" th:src="${castEdit.avatar}">
                                            </div>
                                            <input type="file" name="avatar" class="file-upload-default" id="file-input"
                                                   accept="image/gif, image/jpeg, image/png">
                                            <input type="hidden" name="avtchange" value="false">
                                            <div class="input-group col-xs-4"
                                                 style="align-items: center; justify-content: center;">
                            <span class="input-group-append">
                              <button class="file-upload-browse btn btn-gradient-primary"
                                      type="button">Ảnh đại diện</button>
                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên diễn viên</label>
                                        <input type="text" class="form-control" name="name" placeholder="Tên diễn viên"
                                               th:value="${castEdit.name}">
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input type="date" class="form-control" name="birthday"
                                               th:value="${dateInputFormat.format(castEdit.birthday)}">
                                    </div>
                                    <div class="form-group">
                                        <label>Tiểu sử</label>
                                        <textarea class="form-control" name="story" placeholder="Tiểu sử"
                                                  style="height: 60px;" th:utext="${castEdit.story}"></textarea>
                                    </div>
                                    <div class="input-group col-xs-12"
                                         style="align-items: center; justify-content: center; margin-bottom: 10px;"
                                         th:if="${err != null}">
                                        <label style="color: lawngreen; font-size: 14px;" th:utext="${err}"
                                               th:if="${err.equals('Sửa diễn viên thành công!!!') == true}"></label>
                                    </div>
                                    <div class="input-group col-xs-12"
                                         style="align-items: center; justify-content: center; margin-bottom: 10px;">
                                        <button type="submit" class="btn btn-gradient-success me-2">Lưu diễn viên
                                        </button>
                                    </div>
                                </form>
                                <div class="input-group col-xs-12"
                                     style="align-items: center; justify-content: center; margin-bottom: 10px;"
                                     th:if="${isEdit == true}">
                                    <a href="/admin/actor">
                                        <button class="btn btn-gradient-danger me-2">Huỷ</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Danh sách diễn viên</h4>
                                <div>
                                    <table class="table" id="table">
                                        <thead>
                                        <tr>
                                            <th> Họ và tên</th>
                                            <th> Ngày sinh</th>
                                            <th> Tiểu sử</th>
                                            <th> CRUD</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="cast, state : ${listAllCast}">
                                            <td>
                                                <img th:src="${cast.avatar}" class="me-2" alt="image"
                                                     style="border-radius: 0px; height: 100px; width: 70px;"> <span
                                                    th:utext="${cast.name}"></span>
                                            </td>
                                            <td th:utext="${format.format(cast.birthday)}"></td>
                                            <td th:utext="${cast.story.substring(0, 20) + '...'}"
                                                th:if="${cast.story.length > 20}"></td>
                                            <td th:utext="${cast.story}" th:if="${cast.story.length <= 20}"></td>
                                            <td><a th:href="${'/admin/actor/view/idAct=' + cast.id}"
                                                   style="color:cornflowerblue;"><img
                                                    style="width:20px; height:20px; border-radius:0px;"
                                                    src="/images/view.png"></a> / <a
                                                    th:href="${'/admin/actor/edit/idAct=' + cast.id}"
                                                    style="color:sandybrown;"><img
                                                    style="width:20px; height:20px; border-radius:0px;"
                                                    src="/images/edit.png"></a> / <a
                                                    th:href="${'/admin/actor/delete/idAct=' + cast.id}"
                                                    style="color:red;"><img
                                                    style="width:20px; height:20px; border-radius:0px;"
                                                    src="/images/delete.png"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/admin/vendors/chart.js/Chart.min.js"></script>
<script src="/admin/js/jquery.cookie.js" type="text/javascript"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/admin/js/off-canvas.js"></script>
<script src="/admin/js/hoverable-collapse.js"></script>
<script src="/admin/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/admin/js/dashboard.js"></script>
<script src="/admin/js/todolist.js"></script>
<script src="/admin/js/file-upload.js"></script>
<script src="cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- End custom js for this page -->
<script>
    $(document).ready(function () {
        $('#table').DataTable(
            {
                lengthMenu: [
                    [5, 10, 20, 50, 100, -1],
                    [5, 10, 20, 50, 100, 'Tất cả'],
                ],
                "aaSorting": [],
                "info": false,
                "language": {
                    "lengthMenu": "Hiển thị _MENU_ mẩu tin mỗi trang",
                    "zeroRecords": "Rỗng",
                    "info": "Trang hiện tại _PAGE_: Hiển thị _START_ -> _END_ trên _TOTAL_",
                    "infoFiltered": "(lọc từ _MAX_ mẩu tin)",
                    "infoEmpty": "Không tìm thấy",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Trang kế",
                        "previous": "Trang trước"
                    },
                    "search": "Tìm kiếm:",
                }
            }
        );
    });
</script>
<script>
    const input = document.getElementById("file-input");
    const image = document.getElementById("img-preview");

    input.addEventListener("change", (e) => {
        if (e.target.files.length) {
            const src = URL.createObjectURL(e.target.files[0]);
            image.src = src;
        }
    });
</script>
<script>
    function actAddSubmit() {
        let name = document.forms["act"]["name"].value;
        if (name == "") {
            document.forms["act"]["name"].focus();
            alert("Tên diễn viên không được trống!");
            return false;
        }

        let avatar = document.getElementById("file-input");
        if (avatar.files.length == 0) {
            alert("Ảnh diễn viên không được trống!");
            return false;
        }

        let birthday = document.forms["act"]["birthday"].value;
        if (birthday == "") {
            document.forms["act"]["birthday"].focus();
            alert("Ngày sinh không được trống!");
            return false;
        }
    }
</script>
<script>
    function actEditSubmit() {
        let name = document.forms["act"]["name"].value;
        if (name == "") {
            document.forms["act"]["name"].focus();
            alert("Tên diễn viên không được trống!");
            return false;
        }

        let birthday = document.forms["act"]["birthday"].value;
        if (birthday == "") {
            document.forms["act"]["birthday"].focus();
            alert("Ngày sinh không được trống!");
            return false;
        }

        let avatar = document.getElementById("file-input");
        if (avatar.files.length > 0) {
            document.forms["act"]["avtchange"].value = "true";
        }

    }
</script>
</body>
</html>