<!DOCTYPE html>
<html lang="en" class="no-js">


<head>
    <!-- Basic need -->
    <title>Coming Soon</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="page-single-2">
    <div class="container">
        <div class="row ipad-width">
            <div class="left-content">
                <br>
                <br>
                <br>
                <h1 style="margin-top: 8px;">Sắp ra mắt</h1>
                <p>Chúng tôi đang làm việc hết sức để cho bạn có được trải nghiệm tốt nhất</p>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="coming-ct">
                            <div id="clockdiv" class="time">
                                <div class="it-time">
                                    <span class="days"></span><br>
                                    <p>Ngày</p>
                                </div>

                                <div class="it-time">
                                    <span class="hours"></span><br>
                                    <p>Giờ</p>
                                </div>
                                <div class="it-time">
									<span class="minutes">				
									</span><br>
                                    <p>Phút</p>
                                </div>
                                <div class="it-time">
									<span class="seconds">							
									</span><br>
                                    <p>Giây</p>
                                </div>
                            </div>
                        </div>
                        <h3>Thông báo cho tôi:</h3>
                        <p>Qua số điện thoại(<b>0937220747</b>) hoặc email(<b>vonguyenduylong92.1415@gmail.com</b>) <br>
                            Cám ơn bạn đã tin dùng và sử dụng dịch vụ của chúng tôi!!!</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <img class="cm-img" src="/images/uploads/cm-img.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/plugins2.js"></script>
<script src="/js/custom.js"></script>
</body>

<!-- comingsoon14:55-->
</html>