<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- Basic need -->
    <title>Sắp ra mắt</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div id="preloader" style="background: url('/images/uploads/hero-bg.jpg') no-repeat;">
    <img class="logo" src="/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>

<header class="ht-header full-width-hd">
    <div class="row">
        <nav id="mainNav" class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="/home"><img class="logo" src="/images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default  lv1" href="/home">
                            Trang chủ</a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default  lv1" href="/movie-grid/showing/page=1">
                            Đang công chiếu</a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default  lv1" href="/movie-grid/coming/page=1">
                            Sắp ra mắt</a>
                    </li>
                    <li class="dropdown first" th:if="${loginResponse != null}">
                        <a class="btn btn-default dropdown-toggle lv1" href="/user-history/page=1">
                            Lịch sử</a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default  lv1" href="/contact-us">
                            Liên hệ</a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default  lv1" href="/about">
                            Giới thiệu</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right" th:if="${loginResponse == null}">
                    <li class="btnLo"><a href="/login">Đăng nhập</a></li>
                    <li class="btnRe"><a href="/register">Đăng ký</a></li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right" th:if="${loginResponse != null}">
                    <li><img th:src="${loginAcc.avatar}" alt=""
                             style="width: 50px; height: 50px; margin-right: 10px;  border-radius: 50px;"
                             th:if="${loginAcc.avatar != ''}"></li>
                    <li><img th:src="@{'/images/uploads/user.png'}" alt=""
                             style="width: 50px; height: 50px; margin-right: 10px;  border-radius: 50px;"
                             th:if="${loginAcc.avatar == ''}"></li>
                    <li><label><a href="/user-profile"
                                  th:utext="${loginAcc.getLastname() + ' ' + loginAcc.getFirstname()}"></a>
                        <p><i>Thành viên</i></p></label></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- search form -->
    </div>

</header>

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Sắp ra mắt</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="/home">Trang chủ</a></li>
                        <li><span class="ion-ios-arrow-right"></span> Phim</li>
                        <li><span class="ion-ios-arrow-right"></span> Sắp ra mắt <span class="ion-ios-arrow-right"
                                                                                       th:if="${genreSelect > 0}"></span>
                        </li>
                        <li th:if="${genreSelect > 0}" th:utext="${'Thể loại: ' + gen.name}"></li>
                        <li><span class="ion-ios-arrow-right"></span></li>
                        <li th:utext="${'Trang: ' + pageSelect}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Tìm thấy <span th:utext="${mvNum} + ' bộ phim'"></span> tất cả</p>
                    <label>Thể loại:</label>
                    <form th:action="@{/movie-grid/coming/select-genre}" id="genreSelect" method="post">
                        <select id="genre" name="genreS" onchange="toGenreMovie()">
                            <option th:if="${genreSelect == 0}" value="0" selected>Tất cả</option>
                            <option th:if="${genreSelect != 0}" value="0">Tất cả</option>
                            <a th:each="genre, state : ${listGenre}">
                                <option th:if="${genreSelect == genre.id}" th:utext="${genre.name}"
                                        th:value="${genre.id}" selected></option>
                                <option th:if="${genreSelect != genre.id}" th:utext="${genre.name}"
                                        th:value="${genre.id}"></option>
                            </a>
                        </select>
                    </form>
                    <a href="/coming-grid/transfer" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a href="#" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist">
                    <div class="movie-item-style-2 movie-item-style-1 reveal fade-bottom"
                         th:each="movie, state : ${list}">
                        <img th:src="${movie.getKey().getPoster()}" alt="">
                        <div class="hvr-inner">
                            <a th:href="'/movie-detail/id=' + ${movie.getKey().id}"> xem ngay <i
                                    class="ion-android-arrow-dropright"></i> </a>
                        </div>
                        <div class="member-inner" th:if="${movie.getKey().requireMember.id != 0}">
                            <h5 th:utext="${movie.getKey().requireMember.name}"></h5>
                        </div>
                        <div class="member-inner" th:if="${movie.getKey().requireMember.id == 0}">
                            <h5 th:utext="Free"></h5>
                        </div>
                        <div class="mv-item-infor">
                            <h6><a th:href="'/movie-detail/id=' + ${movie.getKey().id}"
                                   th:utext="${movie.getKey().title}"></a></h6>
                            <p class="rate"><i class="ion-android-star"></i><span
                                    th:utext="${df.format(movie.getValue())}"></span> /5</p>
                        </div>
                    </div>
                </div>
                <div class="topbar-filter">
                    <label th:utext="'Trang hiện tại: ' + ${pageSelect}"></label>
                    <div class="pagination2" th:if="${(pageList.size() <= 7)}">
                        <label>Trang: </label>
                        <a th:if="${pageSelect != 1}" th:utext="'<<'"
                           th:href="'/movie-grid/coming/page-select/page=1'"></a>
                        <a th:if="${pageSelect != 1}" th:utext="'<'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect - 1}"></a>
                        <a th:each="page , state: ${pageList}" th:utext="${page}"
                           th:id="${(pageSelect == page) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=' + ${page}"></a>
                        <a th:if="${pageSelect != pageList.size() }" th:utext="'>'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect + 1}"></a>
                        <a th:if="${pageSelect != pageList.size() }" th:utext="'>>'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageList.size()}"></a>
                    </div>
                    <div class="pagination2"
                         th:if="${((pageList.size() > 7)&&(pageSelect >= pageList.size() - 1))||((pageList.size() > 7)&&(pageSelect <= 2))}">
                        <label>Trang: </label>
                        <a th:if="${pageSelect != 1}" th:utext="'<<'"
                           th:href="'/movie-grid/coming/page-select/page=1'"></a>
                        <a th:if="${pageSelect != 1}" th:utext="'<'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect - 1}"></a>
                        <a th:utext="'1'" th:id="${(pageSelect == 1) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=1'"></a>
                        <a th:utext="'2'" th:id="${(pageSelect == 2) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=2'"></a>
                        <a th:utext="'3'" th:id="${(pageSelect == 3) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=3'"></a>
                        <a th:utext="'...'"></a>
                        <a th:utext="${totalPage - 2}" th:id="${(pageSelect == totalPage - 2) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=' + ${totalPage - 2}"></a>
                        <a th:utext="${totalPage - 1}" th:id="${(pageSelect == totalPage - 1) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=' + ${totalPage - 1}"></a>
                        <a th:utext="${totalPage}" th:id="${(pageSelect == totalPage) ? 'page-select' : 'page'}"
                           th:href="'/movie-grid/coming/page-select/page=' + ${totalPage}"></a>
                        <a th:if="${pageSelect != pageList.size() }" th:utext="'>'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect + 1}"></a>
                        <a th:if="${pageSelect != pageList.size() }" th:utext="'>>'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageList.size()}"></a>
                    </div>
                    <div class="pagination2"
                         th:if="${(pageList.size() > 7)&&(pageSelect < pageList.size() - 1)&&(pageSelect > 2)}">
                        <label>Trang: </label>
                        <a th:if="${pageSelect != 1}" th:utext="'<<'"
                           th:href="'/movie-grid/coming/page-select/page=1'"></a>
                        <a th:if="${pageSelect != 1}" th:utext="'<'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect - 1}"></a>
                        <a th:utext="'1'" th:href="'/movie-grid/coming/page-select/page=1'"></a>
                        <a th:utext="'...'"></a>
                        <a th:utext="${pageSelect - 1}"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect - 1}"></a>
                        <a th:utext="${pageSelect}" id="page-select"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect}"></a>
                        <a th:utext="${pageSelect + 1}"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect + 1}"></a>
                        <a th:utext="'...'"></a>
                        <a th:utext="${totalPage}" th:href="'/movie-grid/coming/page-select/page=' + ${totalPage}"></a>
                        <a th:if="${pageSelect != pageList.size() }" th:utext="'>'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageSelect + 1}"></a>
                        <a th:if="${pageSelect != pageList.size() }" th:utext="'>>'"
                           th:href="'/movie-grid/coming/page-select/page=' + ${pageList.size()}"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" style="position: sticky; top: 20px;">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Tìm kiếm</h4>
                        <form class="form-style-1" th:action="@{/search/page=1}" method="post" name="sform">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>Tên phim</label>
                                </div>
                                <div class="col-md-12 form-it">
                                    <input type="text" name="search" placeholder="Nhập tên phim" autocomplete="off">
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="Tìm Kiếm">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="ht-footer full-width-ft">
    <div class="row">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="/home"><img class="logo" src="/images/logo1.png" alt=""></a>
                <p>Thiết kế bởi Võ Nguyễn Duy Long<br>
                    N18DCCN116</p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Trợ giúp</h4>
                <ul>
                    <li><a href="/about">Giới thiệu</a></li>
                    <li><a href="/contact-us">Liên hệ</a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100009028664531">Diễn đàn</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>Pháp lý</h4>
                <ul>
                    <li><a href="/termuses">Điều khoản sử dụng</a></li>
                    <li><a href="/privacy">Quyền riêng tư</a></li>
                    <li><a href="/sercurity">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Tài khoản</h4>
                <ul>
                    <li><a href="/user-profile">Tài khoản của tôi</a></li>
                    <li><a href="/change-pass">Đổi mật khẩu</a></li>
                    <li><a href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5">
                <h4>Thông tin</h4>
                <p>Kết nối với chúng tôi để nhận được các tin tức mới nhất <br> về chương trình khuyễn mãi và các bộ
                    phim sắp ra mắt.</p>
                <div class="social-link">
                    <a href="https://www.facebook.com/profile.php?id=100009028664531"><i
                            class="ion-social-facebook"></i></a>
                    <a href="https://www.instagram.com/vonguyenduylong92.1415/"><i class="ion-social-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCKblgclkd5s3L3-oOLT8KVg"><i
                            class="ion-social-youtube"></i></a>
                </div>
            </div>
            <div class="flex-child-ft item6">
                <h4>Chăm sóc khách hàng</h4>
                <ul>
                    <li><p>Hotline: (+84)937220747</p></li>
                    <li><p>Giờ làm việc: 7:00 -> 22:00(Trừ ngày Chủ Nhật)</p></li>
                    <li><p>Email hỗ trợ: vonguyenduylong92.1415@gmail.com</p></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="scrollTop" onclick="scrollToTop()"></div>
<script>
    document.getElementById('page-select').style.color = '#dd003f';

    function toGenreMovie() {
        document.getElementById("genreSelect").submit();
    }
</script>
<script>
    function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 0;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("animation-active");
            } else {
                reveals[i].classList.remove("animation-active");
            }
        }
    }

    reveal();
    window.addEventListener('scroll', function () {
        var scroll = document.querySelector('.scrollTop');
        scroll.classList.toggle("active", window.scrollY > 500)
        reveal();
    })

    function scrollToTop() {
        window.scrollTo({
            top: 0
        })
    }
</script>
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/plugins2.js"></script>
<script src="/js/custom.js"></script>
<script>
    var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
    var recognition = new SpeechRecognition();

    recognition.onstart = function () {
    };

    recognition.onspeechend = function () {
        recognition.stop();
    }

    recognition.onresult = function (event) {
        var transcript = event.results[0][0].transcript;
        if (!confirm("Tìm kiếm '" + transcript + "'")) {
            return false;
        }
        document.forms["sform"]["search"].value = transcript;
        document.forms["sform"].submit();
    };

    function startSpeech() {
        recognition.start();
    }
</script>
</body>

<!-- moviegrid07:38-->
</html>